  .sidebar {
    margin: 0;
    padding: 0;
    width: 220px; 
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    margin: 20px 10px;  
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
   
  .sidebar .active {
    color: lightgray;
  }
  
  .sidebar div:hover:not(.active) {
    color: lightgray;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar div {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar div {
      text-align: center;
      float: none;
    }
  }